%h1 Log in

= form_tag sessions_path do
  %p
    = label_tag :uname
    %br
    = text_field_tag :uname, params[:uname]
  %p
    = label_tag :password
    %br
    = password_field_tag :password
  %p.button
    = submit_tag "Log in"
  Or
  %p.button
    = link_to "Sign up", sign_up_path
